/* 全体の配置 */
.container{
    display: flex;
    justify-content: center;
    align-items :  flex-start ;
    min-Height : 100vh;
    padding-Top: 0.5rem;
    background-color: antiquewhite;
}

.titleContainer{
  background-color: #007aff; 
  color: white;
  /* border-radius: 12px; */
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  margin: 0;
  border: white 1px solid;
}

.titles{
  margin: 0;
  line-height: 1;
  font-size: 3rem;
}


.innerBox{
  width: 100%;
  max-width: 1000px;
  padding: 0.5rem;
  /* box-sizing: border-box; */
  background-color: rgb(173, 173, 231);
  border-radius: 8px;

}
