.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(219, 219, 239);
    border: 3px solid #ffffff;
    border-radius: 8px;
    max-width: 900px;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.field label {
    background-color: #e1d8d8;
    border: #333 2px solid;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}



.select,
.dateInput {
    padding: 0.5rem;
    border: #333 2px solid;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 1rem;
}



.button {
    grid-column: span 2;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    justify-content: right;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #0059c1;
}