.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(219, 219, 239);
    border: 3px solid #ddd;
    border-radius: 8px;
    max-width: 900px;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    border: 3px solid green;
}

.field label {
    margin-bottom:0.5rem;
    font-weight: 600;
    font-size: 0.95rem;
    color: #333;
    text-align: right;
    
}

.select {
    padding: 0.5rem;
}

.dateInput {
    padding: 0.5rem;
    border: 10px solid red;
    border-radius: 4px;
    font-size: 10rem;
}

.button {
    grid-column: span 2;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    justify-content: right;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #0059c1;
}